.card
    .card-header
        .fa.fa-graduation-cap
        = link_to course.title, course_path(course), class: 'btn btn-light'
    .card-body
        %small= simple_format(course.short_description)
    .card-footer
        .text-center
            = number_to_currency(course.price, unit: "Rs ",  strip_insignificant_zeros: true)
        .row
            .col-md-6
                .fa.fa-globe-africa
                = course.language
            .col-md-6
                .text-right
                    .fa.fa-signal
                    = course.level
        
        .row
            .col-md-6
                .fa.fa-clock-o
                = course.created_at.strftime('%d-%b-%Y')
        .row
            .col-md-6
                .fa.fa-chalkboard-teacher
                = course.user
                
    - if policy(course).edit?    
        .card-footer
            = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
            = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'